@model Template.Web.Features.Login.LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<div class="login-wrap">
	<form class="login-html" method="post" role="form" autocomplete="off">
		<input asp-for="ReturnUrl" type="hidden" />
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label asp-for=Email class="label onit-label-required"></label>
					<div class="input-group onit-input-group-union">
						<input asp-for="Email" id="user" type="text" class="input form-control">
					</div>
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="group">
					<label asp-for=Password class="label onit-label-required"></label>
					<div class="input-group onit-input-group-union">
						<input asp-for="Password" id="pass" type="password" class="input form-control" data-type="password">
					</div>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="form-check form-switch">
						<input asp-for="RememberMe" id="check" type="checkbox" class="form-check-input check" role="switch">
						<label asp-for="RememberMe" class="form-check-label">Rimani Connesso</label>
					</div>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Login">
				</div>
			</div>
		</div>
	</form>
</div>




@* <div class="container">
    <form method="post" role="form" autocomplete="off">
        <input asp-for="ReturnUrl" type="hidden" />
        <div name="login-form">
            <h1 name="titolo">Login</h1>
            <div class="form-group">
                <label asp-for=Email class="onit-label-required"></label>
                <div class="input-group onit-input-group-union">
                    <input asp-for="Email" class="form-control" type="text" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for=Password class="onit-label-required"></label>
                <div class="input-group onit-input-group-union">
                    <input asp-for="Password" class="form-control" type="password" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-check form-switch">
                    <input asp-for="RememberMe" class="form-check-input" role="switch">
                    <label asp-for="RememberMe" class="form-check-label">Rimani Connesso</label>
                </div>
            </div>

            <div class="form-group text-center mt-4">
                <button type="submit" class="btn btn-primary">Accedi</button>
            </div>
        </div>
    </form>
</div> *@

<style>
	body {
		margin: 0;
		color: #6a6f8c;
		background: url(~/images/scaricatoriFuriosi.png);
		font: 600 16px/18px 'Open Sans',sans-serif;
	}

	*, :after, :before {
		box-sizing: border-box
	}

	.clearfix:after, .clearfix:before {
		content: '';
		display: table
	}

	.clearfix:after {
		clear: both;
		display: block
	}

	a {
		color: inherit;
		text-decoration: none
	}

	.login-wrap {
		width: 100%;
		margin: auto;
		margin-top: 5%;
		max-width: 525px;
		min-height: 670px;
		position: relative;
		background-color: #ffffff80;
		box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	}

	.login-html {
		width: 100%;
		height: 100%;
		position: absolute;
		padding: 180px 70px 50px 70px;
	}

		.login-html .sign-in-htm{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			backface-visibility: hidden;
		}

		.login-html .sign-in{
			display: none;
		}

		.login-html .tab,
		.login-form .group .label,
		.login-form .group .button {
			text-transform: uppercase;
		}

		.login-html .tab {
			font-size: 22px;
			margin-right: 15px;
			padding-bottom: 5px;
			margin: 0 15px 10px 0;
			display: block;
			border-bottom: 2px solid transparent;
			text-align: center;
		}

		.login-html .sign-in:checked + .tab{
			color: #fff;
			border-color: #1161ee;
		}

	.login-form {
		min-height: 345px;
		position: relative;
		perspective: 1000px;
		transform-style: preserve-3d;
	}

		.login-form .group {
			margin-bottom: 15px;
		}

			.login-form .group .label,
			.login-form .group .input,
			.login-form .group .button {
				width: 100%;
				color: #fff;
				display: block;
			}

			.login-form .group .input,
			.login-form .group .button {
				border: none;
				padding: 15px 20px;
				border-radius: 25px;
				background: rgba(255,255,255,.1);
			}

			.login-form .group input[data-type="password"] {
				text-security: circle;
				-webkit-text-security: circle;
			}

			.login-form .group .label {
				color: #aaa;
				font-size: 12px;
			}

			.login-form .group .button {
				background: #1161ee;
			}

		.login-form .form-group .form-check label .icon {
				width: 15px;
				height: 15px;
				border-radius: 2px;
				position: relative;
				display: inline-block;
				background: rgba(255,255,255,.1);
			}

		.login-form .form-group .form-check label .icon:before,
				.login-form .form-group .form-check label .icon:after {
					content: '';
					width: 10px;
					height: 2px;
					background: #fff;
					position: absolute;
					transition: all .2s ease-in-out 0s;
				}

		.login-form .form-group .form-check label .icon:before {
					left: 3px;
					width: 5px;
					bottom: 6px;
					transform: scale(0) rotate(0);
				}

		.login-form .form-group .form-check label .icon:after {
					top: 6px;
					right: 0;
					transform: scale(0) rotate(0);
				}

			.login-form .form-group .form-check .check:checked + label {
				color: #fff;
			}

			.login-form .form-group .form-check .check:checked + label .icon {
					background: #1161ee;
				}

				.login-form .form-group .form-check .check:checked + label .icon:before {
						transform: scale(1) rotate(45deg);
					}

				.login-form .form-group .form-check .check:checked + label .icon:after {
						transform: scale(1) rotate(-45deg);
					}

	.hr {
		height: 2px;
		margin: 60px 0 50px 0;
		background: rgba(255,255,255,.2);
	}

	.foot-lnk {
		text-align: center;
	}

	#check{
		margin-bottom: 5%;
	}
</style>